:root{
	--main-bg-color: ghostwhite;
	--main-text: dimgray;
	--main-text-highlight: dodgerblue;
}

body{
	font-family: sans-serif;
	background-color: var(--main-bg-color);
	color: var(--main-text);
	font-size: 1.5em;
}

#title{
	text-align: center;
}

#subtitle{
	text-align: center;
	font-size: 0.75em;
}