{% extends "base.html" %}
{% block title %}WebUI{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/chart.min.js"></script>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', (event) => {
		{% for plant in plantdata %}
			const sensor_readings_{{ plant.id }} = [
				{% for reading in plant['humidity']['data'] %}{{ reading.value }}{% if not loop.last %},{% endif %}{% endfor %}
			];
			const sensor_labels_{{ plant.id }} = [
				{% for reading in plant['humidity']['data'] %}"{{ reading.timestamp_formatted }}"{% if not loop.last %},{% endif %}{% endfor %}
			]
			new Chart(document.getElementById('sensor_chart_{{ plant.id }}'), {
				type: 'line',
				data: {
					labels: sensor_labels_{{ plant.id }}.reverse(),
					datasets: [{
						label: "{{ plant.name }}",
						data: sensor_readings_{{ plant.id }}.reverse(),
						backgroundColor: [
							'rgba(30,144,255,0.4)'
						],
						borderColor:[
							'cornflowerblue'
						],
						fill: 'origin',
						pointHitRadius: 50,
						pointHoverBorderWidth: 10,
						pointHoverRadius: 15
					}]

				},
				options: {
					indexAxis: 'x',
					scales: {
						y: {
							min: 0,
							max: 100,
							title:{
								display: true,
								text: "Soil humidity %"
							}
						}
					}
				}
			})
		{% endfor %}
	});
</script>
<style>
	.value::after{
		content: " %";
	}

	.timestamp{
		font-size: 0.5em;
		white-space: pre-wrap;
	}
</style>
<table id="data_table" width="100%">
<tbody>
{% for plant in plantdata %}
<tr><td>{{ plant.name }}</td><td class="value">{{ plant['humidity']['data'][0].value }}</td></tr>
<tr><td colspan="2"><canvas id="sensor_chart_{{ plant.id }}" class="sensor_chart"></canvas></td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
