{% extends "base.html" %}
{% block title %}WebUI{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/chart.min.js"></script>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', (event) => {
		{% for plant in plants %}
			const sensor_readings_{{ plant.id }} = [
				{% for reading in plant.humidity['readings'] %}{{ reading.value }}{% if not loop.last %},{% endif %}{% endfor %}
			];

			new Chart(document.getElementById('sensor_chart_{{ plant.id }}'), {
				data: {
					labels: [{% for label in plant['chart_data'][0] %}"{{ label }}"{% if not loop.last %},{% endif %}{% endfor %}],
					datasets: [
						{% for dataset in plant['chart_data'][1] %}
						{
							label: "{{ dataset }}",
							data: [
								{% for point in plant['chart_data'][1][dataset] %}{{ point if point is not none else 'null'}}{% if not loop.last %},{% endif %}{% endfor%}
							],
							type: {% if dataset == 'irrigation' %}'bar'{% else %}'line'{% endif %},
							backgroundColor: [
								{% if dataset == 'humidity' %}
								'rgba(30,144,255,0.5)'
								{% else %}
								'mediumspringgreen'
								{% endif %}
							],
							borderColor:[
								'cornflowerblue'
							],
							{% if dataset == 'humidity' %}
							fill: 'origin',
							pointHitRadius: 50,
							pointHoverBorderWidth: 10,
							pointHoverRadius: 15
							{% endif %}
						}
						{% if not loop.last %},{% endif %}
						{% endfor %}
					]

				},
				options: {
					indexAxis: 'x',
					scales: {
						y: {
							min: 0,
							max: 100,
							title:{
								display: true,
								text: "Soil humidity % / Irrigation ml"
							}
						}
					}
				}
			})
		{% endfor %}
	});
</script>
<style>
	.value::after{
		content: " %";
	}

	.timestamp{
		font-size: 0.5em;
		white-space: pre-wrap;
	}
</style>
<table id="data_table" width="100%">
<tbody>
{% for plant in plantdata %}
<tr><td>{{ plant.name }}</td><td class="value">{{ plant['humidity']['data'][0].value }}</td></tr>
<tr><td colspan="2"><canvas id="sensor_chart_{{ plant.id }}" class="sensor_chart"></canvas></td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
